body {
  color: #aaa;
}
#rmenu {
  background-color: #222;
  color: #ddd;
  border-color: #333;
}
#notationbar {
  background-color: #111;
  color: #ccc;
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar {
  background-color: #222;
  color: #ddd;
  border-color: #555;
}
#login-button {
  background-color: #333;
  color: #ddd;
  border-color: #555;
}
#player-opp-name, #player-me-name, #player-name {
  color: #ddd;
}
#chat-tab-container {
  border-color: #555;
  background-color: #444;
}
.chat-tab {
  border-color: #555;
  background-color: #333;
  border-left: 0;
}
.chat-tab:hover {
  background-color: #444;
}
.selected-chat-tab {
  background-color: #1a1a1a;
}
.selected-chat-tab:hover {
  background-color: #282828;
}
.chat-list-item:hover {
  background-color: #333;
}
#chat-server {
  background-color: #1a1a1a;
  color: #ccc;
}
.private-msg {
  color: #da9191;
}
.game-msg {
  color: #86e1aa;
}
.chat-box {
  border-style: solid;
  border-width: 1px;
  border-color: #333;
  background-color: #1a1a1a;
}
.chat-badge {
  background-image: url("../../images/icons_inv/badge_right.svg");
}
#chat-me {
  background-color: #161616;
  color: #ddd;
  border-color: #333;
}
.chatname {
  color: #e1c99a;
}
.chatname:hover {
  color:
}
.selectplayer, .selectplayer #player-me-name, .selectplayer #player-opp-name {
  color: black;
  border-color: #ddd !important;
}
.notification-icon:hover {
  background-color: #555;
  border-radius: 3px;
}
.curmove {
  color: black;
}
#moveslist tbody tr td a span:hover {
  background-color: #555;
}
.modal-content {
  background-color: #222;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #aaa;
}
.navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: #555;
  color: #ddd;
}
.dropdown-menu {
  background-color: #222;
}
.dropdown-menu > li > a {
  color: #aaa;
}
.dropdown-menu > li > a:hover {
  background-color: #444;
  color: #bbb;
}
.radio-list-img {
  border-color: #222;
}
.radio-list-img:hover {
  border-color: #666;
}
.close {
  color: #fff;
}
.close:hover {
  color: #888;
}
.form-control {
  background-color: #111;
  border-color: #555;
  color: #aaa;
}
.btn-default {
  background-color: #111;
  border-color: #555;
  color: #aaa;
}
.btn-default:hover {
  background-color: #222;
  border-color: #555;
  color: #aaa;
}
#chat-server a {
  color: #4781d7 !important;
}
#send-button {
  background-color: #4781d7;
}
.list-head-line {
  border-bottom-color: #555;
  background-color: #333;
  color: #888;
}
.nonbot {
  color: #e1c99a;
}
.badge .nonbot {
  color: #f2e0bd;
}
#context-menu {
  background-color: #222;
  border: 1px solid #060606;
  box-shadow: 0 0 8px #111;
}
#context-menu-list li {
  color: #aaa;
}
#context-menu-list li:hover {
  color: #ccc;
  background-color: #555;
}
.alert-info {
  color: #863811;
  background-color: #ebb76e;
  border-color: #d28b25;
}