<div>
    <!-- Zoom buttons -->
    <a href="#" onclick="zoom(true)">
        <img src="images/ic_zoom_out_black_24px.svg" height="40" width="40"/>
    </a>

    <a href="#" onclick="zoom(false)">
        <img src="images/ic_zoom_in_black_24px.svg" height="40" width="40"/>
    </a>

    <!-- Flip board button -->
    <a href="#" onclick="board.reverseboard(true)">
        <img src="images/ic_screen_rotation_black_24px.svg" height="35" width="35"/>
    </a>

    <!-- Take tak tour button -->
    <a href="#" onclick="tour(true)">
        <img title="Take tour" src="images/bus.png" height="35" width="35"/>
    </a>
</div>