<div>
    <a title="Click to show/hide notation" href="#" onclick="rmenu()">
        <!--<img src="images/ic_menu_black_24px.svg" height="30" width="30"/>-->
        <div id="notation-toggle-text" class="toggle-text">
            &lt;&lt;<br/>n<br/>o<br/>t<br/>a<br/>t<br/>i<br/>o<br/>n
        </div>
    </a>
    <ul id="rmenu" style="list-style-type:none">
        <li class="center">
            <div id="player-opp">
                <img id="player-opp-img" src="images/player-white.png" height="20" width="20"/>
                <div id="player-opp-name" class="player1-name">You</div>
                <br/>
                <div id="player-opp-time" class="timer">0:00</div>
            </div>
        </li>
        <li class="optlist center">
            <a id="download_notation" href="#" title="Download notation" class="btn" onclick="downloadNotation();">
                <img src="images/ic_file_download_black_24px.svg" class="notification-icon"/></a>
            <a href="#" title="Undo" class="btn" onclick="undoButton()">
                <img id="undo" src="images/requestundo.svg" class="notification-icon"/></a>
            <a href="#" title="Offer/Accept draw" class="btn" onclick="server.draw()">
                <img id="draw" src="images/offer-hand.png" class="notification-icon"/></a>
            <a href="#" title="Resign" class="btn" onclick="server.resign()">
                <img src="images/flag.svg" class="notification-icon"/></a>
        </li>
        <li>
            <div title="Notation for current game appears here" id="notationbar">
                <!--<div class="center">Game notation</div>-->
                <table id="moveslist">
                </table>
            </div>
        </li>
        <li class="optlist center">
            <a href="#" title="First move" class="btn" onclick="fastrewind()">
                <img src="images/ic_fast_rewind_black_24px.svg" class="notification-icon"/></a>
            <a href="#" title="Step back" class="btn" onclick="stepback()">
                <img src="images/ic_keyboard_arrow_left_black_24px.svg" class="notification-icon"/></a>
            <a href="#" title="Step forward" class="btn" onclick="stepforward()">
                <img src="images/ic_keyboard_arrow_right_black_24px.svg" class="notification-icon"/></a>
            <a href="#" title="Current move" class="btn" onclick="fastforward()">
                <img src="images/ic_fast_forward_black_24px.svg" class="notification-icon"/></a>
        </li>
        <li class="center">
            <div id="player-me">
                <img id="player-me-img" src="images/player-black.png" height="20" width="20"/>
                <div id="player-me-name" class="player2-name">You</div>
                <br/>
                <div id="player-me-time" class="timer">0:00</div>
            </div>
        </li>
    </ul>
</div>