body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
a, a:focus, a:active {
  outline: 0;
}
#gamecanvas{
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
#notation_area {
  position: absolute;
  left: 5px;
  z-index: 10;
}
#chat-toggle-button{
  position: absolute;
  right: 185px;
  top: 56px;
  z-index: 10;
}
#chat {
  position: absolute;
  right: 5px;
  top: 60px;
  z-index: 10;
  width: 180px;
  height: 80%;
}
#chat-tab-container {
  height: 30px;
  border-style: solid;
  border-width: 0 0 1px 0 ;
  border-color: #aaa;
  background-color: #ccc;
}
.chat-tab {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  margin: 0;
  padding: 4px;
  border-width: 0 1px;
  border-style: solid;
  border-color: #aaa;
  background-color: #d8d8d8;
  width: 25%;
  height: 29px;
}
.chat-tab img {
  display: inline-block;
  height: 20px;
  width: 20px;
}
.chat-list-item {
  position: relative;
  width: 100%;
  display: table;
  white-space: normal;
  overflow: hidden;
}
.chat-list-item:hover {
  background-color: #ccc;
}
.chat-name {
  display: table-cell;
  padding: 4px 0 4px 20px;
  vertical-align: middle;
  overflow: hidden;
}
.chat-close {
  display: table-cell;
  text-align: center;
  width: 20px;
  padding: 4px 6px 4px 12px;
  font-size: 21px;
  text-shadow: 0 1px 0 #fff;
  opacity: .4;
  float: inherit;
  vertical-align: middle;
}
.chat-close:hover {
  background-color: #888;
}
.selected-chat-tab {
  background-color: #e7e7e7;
  height: 30px;
}
.chat-badge {
  position: absolute;
  display: inline-block;
  z-index: 1;
  opacity: 0;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("../images/icons/badge_right.svg");
}
.private-chat-badge {
  left: 0;
  transform: rotate(-90deg);
}
.playername {
  font-weight: bold;
}
#chat-server {
  padding: 3px;
  word-wrap: break-word;
  background-color: #e7e7e9;
  height: calc(100% - 30px);
  overflow-y: auto;
}
.private-msg {
  color: #be47d7;
}
.game-msg {
  color: #417e39;
}
.optlist a {
  margin-top: 2px;
  margin-bottom: 2px;

  margin-left: 5px;
  margin-right: 5px;
  padding: 0px;
}
.chatname {
  font-weight: bold;
  color: #222;
}
.chatmyname {
  font-weight: bold;
  color: #ff9955;
}
.playername {
  font-weight: bold;
}
.bold {
  font-weight: bold;
}
.cmdreply {
  font-style: italic;
  color: blue;
}
.ircname {
  color: #8C6F65;
}
.chattime {
  color: #7D7D7D;
}
#chat-toggle-text {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
#notation-toggle-text {
  position: absolute;
  right: -17px;
  top: 2px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.toggle-text {
  border-radius: 2px;
  border: 2px solid #404040;
  border-radius: 5px;
  text-align: center;
  color: #999;
  font-size: 20px;
  background-color: #404040;
  line-height: 12px;
  width: 19px;
  height: 42px;
  overflow: hidden;
}
#help-modal ul li ul {
  font-weight: bold;
}
#help-modal ul li ul li {
  font-weight: normal;
}
#settings-modal ul li ul {
  font-weight: bold;
}
#settings-modal ul li ul li {
  font-weight: normal;
}
.split-container-left {
  display: inline-block;
  overflow: hidden;
  width: 49%;
  padding-right: 15px;
  padding-bottom: 10px;
  vertical-align: top;
}
.split-container-left form {
  margin: 8px 0 0 0; 
}
.split-container-right {
  display: inline-block;
  overflow: hidden;
  width: 49%;
  padding-left: 15px;
  padding-bottom: 10px;
  border-left: 1px solid #ddd;
  vertical-align: top;
}
.split-container-right form {
  margin: 8px 0 0 0; 
}
input[type=checkbox] {
  vertical-align: middle;
  line-height: 14px;
  margin: 0px;
}
input[type=range] {
  vertical-align: middle;
  margin: 0px;
  display: inline-block;
  background: transparent;
  width: 50%;
}
input[type=range]::-moz-range-track {
  height: 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}
input[type=range]::-ms-track {
  height: 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}
input[type=range]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #ddd, 0px 0px 1px #fff;
}
.radio-list-item {
  display: inline-block;
  margin: 0;
  width: auto;
}
.radio-list-item input[type=radio] {
  border-style: none;
  border-width: 0 0 0 0!;
  margin: 0;
  display: none;
}
.radio-list-img {
  margin: 0;
  width: 56px;
  height: 56px;
  border: 2px #fff solid;
  cursor: pointer;
}
.radio-list-item input[type=radio]:checked + .radio-list-img {
  border: 2px #f83 solid;
}
.width-full {
  margin: 0 auto;
  width: 100%;
}
.height-full {
  margin: 0 auto;
  height: 100%;
}
.height-auto {
  height: auto;
}
#status {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}
#pindicator {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 200%;
  z-index: 10;
}
#zoomcontrols {
  position: absolute;
  bottom: 5px;
  left: 5px;
  z-index: 10;
}
#rmenu {
  border-style: solid;
  border-width: 2px;
  border-color: #333;
  padding: 5px;
  margin: 2px;
  width: 200px;
  text-align: left;
  overflow: hidden;
  background-color: #e0e0e0;
}
.head {
  cursor: ns-resize;
}
#notationbar {
  border-top-style: solid;
  border-top-color: #888;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #888;
  border-bottom-width: 1px;
  background-color: #eee;
  overflow: auto;
  overflow-x: hidden;
}
.moveno {
  color: #777;
}
#alertbox {
  position: absolute;
  bottom: 0px;
  width: 100%;
  z-index: 8;
}
.alerts {
  width: 60%;
  margin: auto;
}
.alert {
  margin: 0px;
}
#moveslist {
  display: table;
  width: 170px;
}
#moveslist a {
  color: inherit;
  text-decoration: none;
}
#moveslist tbody tr {
  height: 20px;
}
#moveslist tbody tr td + td {
  display: inline-block;
  width: 42%;
}
#moveslist tbody tr td {
  display: inline-block;
  width: 15%;
}
#moveslist tbody tr td a {
  display: block;
  width: 100%;
}
#moveslist tbody tr td a span {
  display: block;
  padding-left: 3px;
  width: 100%;
}
#moveslist tbody tr td a span:hover {
  background-color: #ffffff;
}
.curmove {
  background-color: #e1c99a;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.vertical-text {
  transform-origin: bottom right;
  transform: rotate(-90deg);
  float: left;
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.selected {
  background: red;
}
.unselected {
  background: grey;
}
#player-opp, #player-me {
  padding: 2px;
  display: inline-block;
  border-radius: 8px;
  border: 2px solid hsla(0, 0%, 0%, 0);
}
.selectplayer {
  border-color: #444 !important;
  background-color: #e1c99a;
}
.notification-icon {
  width: 25px;
  height: 25px;
}
.notification-icon:hover {
  background-color: white;
  border-radius: 3px;
}
.player1-name, .player2-name {
  padding: 0 2px;
  font-weight: bold !important;
  display: inline-block;
  color: black;
}
.timer {
  display: inline-block;
}
.border {
  border-radius : 20px;
  padding: 5px;
  margin: 2px;
  border : 2px solid black;
}
.scrollable-menu {
  height: auto;
  max-height: 280px;
  overflow-x: hidden;
}
.dropdown-menu > li > a {
  cursor: pointer;
}
.list-header {
  display: inline-block;
  white-space: nowrap;
  text-align: center;
}
.list-head-line {
  padding-left: 20px;
  padding-right: 20px;
  display: table;
  width: 100%;
  white-space: nowrap;
  background-color: #ddd;
  color: #777;
}
.botcount {
  color: #bbb;
}